@keyframes loader {
    0%{
        background-position: -800px 0px;
   }
   100%{
     background-position: 800px 0px;
   }
}

.loader hr{
    animation: loader 3s infinite linear;
}


@media (max-width:600px) {
  .main-bottom input{
     flex: none;
     width: 150px;
  }
  .main-bottom img{
    width: 20px;
  }
  .search-box{
    padding: 5px 10px;
  }
  .search-box div{
    gap: 5px;
  }

  .card{
    display:none;
  }
  .lst-line{
    display: none;
  }
}